body {
  font-family: Arial, Helvetica, FreeSans, Clean, sans-serif;
}

a:link, a:active, a:hover, a:visited {
  color: blue;
  text-decoration: none;
}

ul {
  list-style: none;
}

ul li img {
  padding-right: 0.25em;
}